<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LinkedInCompanionApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CEF1048DB4E10CB6E3A2B7B323D4B93B58A21596</string>
				<key>dateExpires</key>
				<string>21/07/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEF1048DB4E10CB6E3A2B7B323D4B93B58A21596</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>24627D558C.einsteini.LinkedInCompanionApp.LinkedInKeyboardExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>24627D558C</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.einstein.LinkedInCompanionApp</string>
							<string>group.com.einstein.common</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>LinkedInKeyboardExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b81aa85e-9c70-4243-9f76-4991a43825b9</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: einsteini.LinkedInCompanionApp.LinkedInKeyboardExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24627D558C</string>
						<key>name</key>
						<string>Avi Sahi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEF1048DB4E10CB6E3A2B7B323D4B93B58A21596</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>24627D558C.einsteini.LinkedInCompanionApp.LinkedInShareExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>24627D558C</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.einstein.common</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>LinkedInShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>229e98c5-3cd2-48ad-a58d-2895c4d06679</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: einsteini.LinkedInCompanionApp.LinkedInShareExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24627D558C</string>
						<key>name</key>
						<string>Avi Sahi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24627D558C.einsteini.LinkedInCompanionApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>24627D558C</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.einstein.LinkedInCompanionApp</string>
					<string>group.com.einstein.common</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LinkedInCompanionApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d82f7645-15b5-4f48-a9ec-85a05d668802</string>
				<key>dateExpires</key>
				<string>21/07/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: einsteini.LinkedInCompanionApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24627D558C</string>
				<key>name</key>
				<string>Avi Sahi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
