<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LinkedInCompanionApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CEF1048DB4E10CB6E3A2B7B323D4B93B58A21596</string>
				<key>dateExpires</key>
				<string>21/07/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEF1048DB4E10CB6E3A2B7B323D4B93B58A21596</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>24627D558C.einsteini.LinkedInCompanionApp.LinkedInKeyboardExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>24627D558C</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.einstein.LinkedInCompanionApp</string>
							<string>group.com.einstein.common</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>LinkedInKeyboardExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b041ba2e-757d-4a38-86fd-0c1f05109935</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: einsteini.LinkedInCompanionApp.LinkedInKeyboardExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24627D558C</string>
						<key>name</key>
						<string>Avi Sahi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CEF1048DB4E10CB6E3A2B7B323D4B93B58A21596</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>24627D558C.einsteini.LinkedInCompanionApp.LinkedInShareExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>24627D558C</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.einstein.common</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>LinkedInShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>44a78c83-70b2-43a9-87f7-472ee8526626</string>
						<key>dateExpires</key>
						<string>21/07/26</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: einsteini.LinkedInCompanionApp.LinkedInShareExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24627D558C</string>
						<key>name</key>
						<string>Avi Sahi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24627D558C.einsteini.LinkedInCompanionApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>24627D558C</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.einstein.LinkedInCompanionApp</string>
					<string>group.com.einstein.common</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LinkedInCompanionApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d142b8a0-1b98-475c-8ece-0bca9d2150b8</string>
				<key>dateExpires</key>
				<string>21/07/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: einsteini.LinkedInCompanionApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24627D558C</string>
				<key>name</key>
				<string>Avi Sahi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
